
  input[type=checkbox] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -9999;
  }
  input[type=checkbox] + label {
    background: #f82d2d;
    border-radius: 15.5px;
    box-shadow: inset 0 0 0 2px #f82d2d;
    color: transparent;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    height: 31px;
    position: relative;
    transition: box-shadow 250ms ease-in-out;
    transform: translateZ(0);
    width: 51px;
  }
  input[type=checkbox] + label:not(:last-child) {
    margin-bottom: 10px;
  }
  input[type=checkbox] + label:before {
    color: rgba(0, 0, 0, 0.75);
    content: "" attr(data-color) "";
    display: block;
    font-size: 15px;
    margin-right: 10px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
  }
  input[type=checkbox] + label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    content: "";
    display: block;
    height: 27px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: transform 250ms ease-in-out;
    width: 27px;
    z-index: 1;
  }

  input[type=checkbox]:checked + .my-color {
    box-shadow: inset 0 0 0 16px #4cd964, inset 66.5px 0 0 0 #4cd964;
  }
  input[type=checkbox]:checked + label:after {
    transform: translateX(20px);
  }