@charset "utf-8";
/* CSS Document */


/*------------------------------------------
Project Name : Law Firm
Desgined By  : eyecomm
Developed By : Murataza;
Date        :  11/28/17;


	Table Of Index
========================
01. Topbar css
02. Header css
03. Custom slider options
01. Welcome css
04. Servicevices css
05. ArticleWrp css
06. Practice css
07. Our Team Wrap css
08. Contact css
09. Footer css
10. Inner Header css
11. Inner Content css
12. Contact css
13. Blog css
14. Side Bar css
15. Sidebar Search css
16. Categories css
17. Archives css
18. Popular Posts css
19. Tags css
20. Photo Gallery css
21. Blog Grid css
22. Pagination css
23. Login css
24. Testimonials css
25. 404 page css
26. Faqs css
27. Case Results css
28. Attorney css
29. Attorney Details css
30. Innerservice css
31. Media Screen

===============================*/

/*********************************************
		base css
*********************************************/
*{margin:0; padding:0;}
body{font-family: 'Open Sans', sans-serviceif;}
img{max-width:100%; transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease;}
a{transition:0.4s ease-in; -webkit-transition:0.4s ease-in; -moz-transition:0.4s ease-in; -ms-transition:0.4s ease-in; -o-transition:0.4s ease-in;}
h1,h2, h3, h4, h5, h6{font-family: 'Roboto Condensed', sans-serif;}
ul, ol{list-style:none;}
h1{margin:0; font-size:42px; text-transform:uppercase; font-weight:400; position:relative; margin-bottom:40px; color: #39314a;}
h1 span{color:#c6b552; font-weight:bold;}
h1:before {content: ""; background:#c6b552; height:3px; width:70px; position:absolute; bottom:-20px; left:0;}
p {font-size: 14px; line-height: 24px; color: #818080;}

/*********************************************
				Topbar css
**********************************************/
.bar-info{list-style:none; margin-top: 3px; padding:0px; margin-bottom:0;}
.bar-info li{display:inline-block; margin-right:10px; margin-left:10px;}
.bar-info i{margin-right: 10px;}
.site-topbar {background: #39314a; padding: 10px 0; color: #fff;}
.topbar-links{list-style:none; text-align:right; margin-bottom:0;}
.topbar-links i{padding-right:5px; color: #c6b552;}
.topbar-links li{display:inline-block; padding:0 12px; position:relative}
.topbar-links li a{text-decoration:none; font-size:12px; color:#fff; text-transform:uppercase;}
.topbar-links li:before {content: '|'; position: absolute; right: -2px; top:2px; color: #ffffff; font-size: 10px;}
.topbar-links li:last-child:before{display:none;}

/*********************************************
				Header css
**********************************************/
.header {
    background: #f7f7f7;
}
.logo{padding:7px;}
.navbar-default{background:none; border-radius:0; border:none; margin-bottom:0px; margin-top:0px;}
.navigationwrape{float:right;}
.navbar-default .navbar-nav>li>a{padding:29px 18px; font-size:14px; color:#000; font-weight:bold; text-transform:uppercase;}
.navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-nav>li>a:hover{color:#fff; background:#c6b552;}
.navbar-default .navbar-nav>li>a.active{color:#fff; background:#c6b552;}
.navbar-collapse{padding-right:0;}
.navbar-nav li:hover .dropdown-menu{display:block; z-index:999999!important; position: absolute;}
.dropdown-menu{background:#fff !important; border-top:none; padding:0; border-bottom: none; border-top:none; min-width: 200px; border-left:none; border-right:none;}
.dropdown-menu>li{border-bottom:1px solid #efefef;}
.dropdown-menu>li:last-child{border-bottom:none;}
.dropdown-menu>li>a{color:#231f20; font-size:14px; padding:8px 20px 8px 28px; position:relative;}
.dropdown-menu>li>a:hover{color: #FFF; background: #c6b552;}
.dropdown-menu>li a:before {content: "\f0da"; font-family: 'FontAwesome'; position:absolute; top:9px; left:11px; color:#000;}
.dropdown-menu>li:hover> a:before{color:#fff;}
.sticky{top:0; position:fixed; width:100%; z-index:10000; height:78px; border-bottom: 1px solid #eee;}

/*********************************************
			Custom slider options
**********************************************/
.tp-banner-container {position: relative; z-index: 1; padding: 0; width: 100%;}
.tp-banner {position: relative; width: 100%;}
.tp-caption {line-height:normal !important}
.tp-caption a {color: inherit !important;}
.tp-bullets.simplebullets.round .bullet {border: 3px #fff solid; border-radius: 50%; background-image: none !important;}
.tparrows {width: auto !important; height: auto !important; background-image: none !important;}
.tp-arr-allwrapper {margin: 0 10px; width: 50px; height: 60px; background: rgba(255,255,255,0.5);}
.tp-arr-allwrapper:hover .tp-arr-iwrapper {color: #fff;}
.tp-leftarrow .tp-arr-allwrapper {}
.tp-rightarrow .tp-arr-allwrapper{}
.tp-arr-iwrapper {color: #000; text-align: center; font-size: 30px; font-family: FontAwesome; line-height: 60px;}
.tp-leftarrow .tp-arr-iwrapper {}
.tp-leftarrow .tp-arr-iwrapper:before {content: "\f104";}
.tp-rightarrow .tp-arr-iwrapper:before {content: "\f105";}
.tp-rightarrow .tp-arr-iwrapper {}
.slide-h1 {margin: 5px 0 !important; padding: 0 0 10px !important; padding-bottom: 5px !important; color: #444; text-transform: uppercase; font-weight: bold; font-size: 57px;}
.slide-h2 {margin: 5px 0 !important; padding: 0 0 10px !important; padding-bottom: 5px !important; color: #555; font-weight: bold; font-size: 55px; line-height: 100%;}
.big-font {text-transform: uppercase; font-weight: 800; font-size: 60px;}
.large-desc {font-size: 16px;}
.slide-h3 {color: #fff; font-size: 31px; line-height: 100%;}
.slide-h3 span {text-transform: uppercase; font-weight: bold;}
.slide-head {text-transform: uppercase; font-weight: 900; font-size: 30px;}
.slide-desc {font-size: 22px; line-height: 150%;}
.main-title {text-transform: uppercase; font-weight: 800; font-size: 70px;}
.icon-cont {padding: 15px 40px; border-radius: 10px; text-align: center;}
.icon-cont:after {position: absolute; bottom: -10px; left: 40%; z-index: 5; display: inline-block; width: 0; height: 0; border-width: 10px 10px 0 10px; border-style: solid; content: "";}
.icon-cont i {margin-bottom: 10px; color: #fff; font-size: 50px;}
.icon-cont span {display: block; padding: 0 0 5px; color: #fff; text-align: center; font-size: 18px;}
a.wit-btn {background: #fff; color: #333 !important; text-transform: uppercase;}
.wit-line {width: 5%; height: 1px; background: #fff;}
.vert-line {min-height: 270px; width: 1px; background: #fff;}
.subTxt {text-transform: uppercase; font-weight: bold; font-size: 17px; color: #333;}
.large-title {color: #222; font-size: 60px; font-weight: 800; text-transform: uppercase !important;}
.large-light-title {color: #787878 !important; font-size: 70px; font-weight: lighter; text-transform: uppercase; letter-spacing:2px}
.large-text {font-size: 20px; color: #000; font-weight: lighter;}
.larger-text {font-size: 24px; font-weight: lighter; text-transform: uppercase;}
.witTxt {color: #fff !important;}
.light-font {font-weight: lighter !important; font-size: 50px;}
.black-bg{background:rgba(0,0,0,.63); color:#a8a8a8; text-transform:none;}
.lft-list {padding: 10px; font-size: 18px; color: #fff;}
.wit-border {border: 1px #fff solid; padding: 15px 60px; color: #fff; font-size: 16px; text-transform: uppercase;}
.rounded-bord {margin-right: 15px; border: 1px #fff solid; width: 30px; height: 30px; text-align: center; line-height: 30px; font-size: 13px; border-radius: 50%;}
#vertical-ticker{height:120px; overflow:hidden;}
#vertical-ticker li{padding:15px 20px; display:block; text-align:center;}
.to-bottom i.fa{font-size: 30px; border:2px #a8a8a8 solid; padding:20px 22px; border-radius:50%; -webkit-animation: bounce 2s infinite linear; animation: bounce 2s infinite linear;}
.tp-bannertimer{display:none;}
.slidertext1{color:#000; font-size:48px; font-weight:200; padding:0; text-transform:none !important; font-family: 'Roboto Condensed', sans-serif; text-align:left; line-height:60px !important; margin-bottom:5px;}
.slidertext1 span{color:#6bb305;}
.slidertext2{color:#fff; font-size:50px; font-weight:bold; padding:15px 25px; text-transform:none !important; text-align:left; text-shadow: 0 0 1px rgba(24,24,24,.75); font-family: 'Roboto Condensed', sans-serif;}
.slidertext3{color:#fff; font-size:50px; font-weight:700; padding:15px 25px; text-transform:uppercase; text-align:left; text-shadow: 0 0 1px rgba(24,24,24,.75); font-family: 'Roboto Condensed', sans-serif;}
.slidertext6{color:#fff; font-size:18px; font-weight:600; padding:15px 20px; line-height:30px; text-transform:none !important; text-align:left; text-shadow: 0 0 1px rgba(24,24,24,.75); font-family: 'Roboto Condensed', sans-serif;}
.slidertext7{margin-left:20px;}
.slidertext7 a{font-size:18px; background-color: #fff; color:#000 !important; padding:16px 48px; border-radius:30px; font-weight:bold !important;}
	.slidertext7 i{padding-left:8px;}
a.slidebtn{background:#019ae0; color:#fff !important; padding:10px 35px; font-size:16px; font-weight:700; border-radius:5px; text-transform:uppercase; display:inline-block; font-family: 'Roboto Condensed', sans-serif; text-decoration:none; margin-top:20px;}
a.slidebtn i{margin-left:10px;}
a.slidebtn:hover{background:#000; color:#fff !important;}


@-webkit-keyframes bounce {
	0% {transform:translateY(0%);}
	50% {transform:translateY(-30%);}
	100% {transform:translateY(0);}
}
/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {transform:translateY(0%);}
	50% {transform:translateY(-30%);}
	100% {transform:translateY(0);}
}
/* Opera 12.0 */
@-o-keyframes bounce {
    0% {transform:translateY(0%);}
	50% {transform:translateY(-30%);}
	100% {transform:translateY(0);}
}
/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
	0% {transform:translateY(0%);}
	50% {transform:translateY(-30%);}
	100% {transform:translateY(0);}
}

/*********************************************
		Welcome css
*********************************************/
.welcomeWrap{padding:70px 0; background:#f7f7f7;}
.welcomeWrap .section-header {margin-bottom: 15px;}
.welcomeWrap p{font-size:14px; line-height:24px; color:#818080;}
.welcome-content-box {width: 100%; margin-top: 25px;}
.welcome-box h4 {display: block; font-size:18px; font-weight:bold; color: #39314a;}
.readmore{margin-top:5px;}
.readmore a{background:#39314a; font-size:14px; color:#fff !important; text-transform:uppercase; font-weight:700; display:inline-block; padding:12px 26px;}
.readmore a:hover{background:#c6b552; text-decoration:none;}

/*********************************************
		Servicevices css
*********************************************/
.service-wrap{padding: 50px 0; text-align:center;}
.headingTitle h1:before{left:50%; margin-left:-35px;}
.headingTitle p{padding:0 100px; font-size:14px; color:#000; line-height:24px; text-align:center;}
.serv-area{list-style:none; padding:0; margin:30px 0;}
.service-block{text-align:center; padding:25px 0px; min-height:230px; background-color:#fff; margin:15px 0px; -webkit-transition:all 0.35s; -moz-transition:all 0.35s; transition:all 0.35s; -ms-transform:scale(1, 1); -webkit-transform:scale(1, 1); transform:scale(1, 1); background: #f3f3f3; border: 1px solid #eee;}
.service-block:hover {background:#39314a; color: #fff; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; transition: all 0.35s; -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); border: 1px solid #27496c;}
.service-icon {font-size:36px;; color: #c6b552; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; transition: all 0.35s;}
.service-icon h4{font-size:16px;}
.service-block:hover .service-icon { color:#fff; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; transition: all 0.35s;}
.service-block:hover hr{background-color:#fff; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; transition: all 0.35s;}
.service-block hr {width:30px; height:3px; background-color: rgba(217, 193, 54, 0.56); border:none; margin:0 auto;}
.service-block .content{padding:12px 25px 0 25px; height:110px}
.service-block:hover .content{color:#fff;}

/*********************************************
		ArticleWrp css
*********************************************/
.articles-wrap h1{color:#fff; text-align:center;}
.articles-wrap p{color:#fff;}
.articles-wrap {background: #39314a url(../images/blue-pattern.png) repeat; padding: 60px 0px;}
.articles-wrap .articles-heading {font-size: 36px; font-weight: bold; color: #fff; font-family: 'Roboto Condensed', sans-serif;	margin-bottom: 20px; text-align: center; background: url(../images/line.png) no-repeat center bottom; padding-bottom: 22px}
.articles-image {float: left; margin-right: 11px;}
.articles-service {list-style: none;}
.articles-service li {margin-top: 10px;}
.articles-service li{margin-bottom: 16px; padding-top:6px;}
.col{background: rgba(57, 49, 74, 0.81); padding: 13px 10px 3px 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.articles-wrap .head{margin-bottom: 3px;}
.articles-wrap .head a{text-decoration:none; font-size: 16px; font-weight: bold; color: #fff;}
.articles-wrap .head a:hover{color: #c6b552;}
.articles-wrap .date {font-size: 13px; font-style: italic; color: rgba(255, 255, 255, 0.68);}
.articles-wrap p {font-size: 13px; line-height: 20px; color: #bababa;}

/*********************************************
		Practice css
*********************************************/
.practice-wrap{padding:60px 0;}
.practice-wrap h1{text-align:center;}
.practice-wrap h1:before{left:50%; margin-left:-42px;}
.practice-wrap p{font-size:14px; color:#666666; line-height:20px;}
.practice-wrap h3{margin-top:0;}
.practice-wrap h3 a{font-size:20px; color: #39314a; font-weight:bold; text-decoration:none;}
.practice-wrap h3 a:hover{color:#c6b552;}
.practice-wrap .readmore a{padding: 10px 18px;}
.pracInfo{background: #f7f7f7; padding:10px 18px 18px 18px; border: 1px solid #eee;}
.practice-wrap ul li{margin-top:30px;}
.practiceImg{overflow:hidden;}
.practiceImg img {-moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s;}
.practice-wrap li:hover img {-moz-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);}

/*********************************************
		Our Team Wrap css
*********************************************/
.attorney-wrap{background:#eee; padding:50px 0; text-align: center;}
.attorney-wrap h1{margin-bottom:40px; text-align:center;}
.attorney-wrap p{text-align:center; font-size:14px; line-height:24px; color:#333; margin-bottom:25px;}
.attorney{display: inline-block; background-color:#fff; margin:0px 0px 30px;}
.experts{margin-bottom:0;}
.attorney-info{padding-top:20px; text-align:center; position:relative; background: #fff;}
.attorney-info h5 > a{font-size:18px; text-decoration:none; color:#39314a; font-weight:600; display:block; margin:0px 0px 10px;	text-transform:uppercase;}
.attorney-info span{font-size:14px;	color:#242424; margin:0px 0px 15px;	display:block;}
.attorney-info ul{border-top:1px solid #cecece;	padding:8px 5px 5px 5px; background: #c6b552;}
.attorney-info ul li{position:relative; display:inline-block; width: 22%;}
.attorney-info ul li a{color:#fff; font-size:18px;}
.attorney-info h5 > a:hover{color:#222;}
.attorney:hover .attorney-image img{transform:scale(1.2) rotate(-6deg); -webkit-transform:scale(1.2) rotate(-6deg);	-moz-transform:scale(1.2) rotate(-6deg);}
.attorney-image {position: relative; overflow:hidden;}
.attorney .attorney-image img{transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.expert-team{padding-top:0;}

/*********************************************
		Contact css
*********************************************/
.contact-wrap{position:relative;}
.contact-wrap h1{color:#fff;}
.contact-wrap h1:before{left:0; margin-left:0;}
.contact-wrap .col-md-7{padding:0;}
.contact-wrap .col-md-6{padding-right:0;}
.contact-info .secTitle h3{color:#fff;}
.contact-info .secTitle h3 span{display:block; padding-top:7px;}	
.contact-info p{font-size:14px; line-height:24px; color:#adadad; padding-right: 30px;}
.contact-info {margin-bottom:20px; margin-top:25px;}
.contact-info h4{font-size:24px; font-weight:bold; color:#fff; margin:25px 0 10px 0}
.contact-info h5{font-size:1.5em; color:#ff0404;}
.address{font-size:1.5em; font-weight:bold; color:#d5d5d5; line-height:24px; margin-top:27px; position:relative; padding-left:42px;}
.address span{display:block;}
.address:before{content:""; background:url(../images/map-icon.png) no-repeat left; width:24px; height:34px; position:absolute; left:0;}

.phone{font-size:1.5em; font-weight:bold; color:#d5d5d5; margin-top:33px; position:relative; padding-left:42px;}
.phone:before{content:""; background:url(../images/call-icon.png) no-repeat left; width:28px; height:28px; position:absolute; left:0;}

.email{font-size:1.5em; font-weight:bold; color:#d5d5d5; margin-top:25px; position:relative; padding-left:42px;}
.email:before{content:""; background:url(../images/email-icon.png) no-repeat left; width:32px; height:32px; position:absolute; left:0;}


.contact-left{background:#272727; padding:60px 0px 60px 0px;}
.right-map{position:absolute; top:0; right:0; width:50%;}
.map iframe{width:100%;}
.appointment{margin-top:20px;}
.appointment a{text-decoration:none; font-size:18px; color:#fff; border:2px solid #fff; padding:12px 36px; text-transform:uppercase; font-weight:bold; display:inline-block; background:#c6b552;}
.appointment a:hover{background:#39314a;}

/*********************************************
		Footer css
*********************************************/
.footer-wrap {background: url(../images/footer-bg.jpg) no-repeat top; background-size: cover; padding: 50px 0px 10px 0px;}
.footer-wrap p {font-size: 14px; color: #9a9a9a; line-height: 24px;	margin-top: 15px;}
.footer-icons {list-style: none; padding-top: 8px;}
.footer-icons li {display: inline-block; padding: 0 3px;}
.footer-icons li:nth-child(1) a:hover{background:#3a589b;}
.footer-icons li:nth-child(2) a:hover{background:#d14836;}
.footer-icons li:nth-child(3) a:hover{background:#26a9e0;}
.footer-icons li a {text-decoration: none; border: 1px solid #FFF; width: 35px; height: 35px; background-color: rgba(0,0,0,0); display: block; text-align: center; line-height: 35px;	font-size: 18px; color: #FFF;}
.footer-heading {font-size: 22px; color: #fff;	font-weight: bold; font-family: 'Roboto Condensed', sans-serif;	margin-bottom: 20px;}
.footer-nav {list-style: none;}
.footer-nav li {border-top: 1px solid #333333;}
.footer-nav li:last-child{border-bottom: 1px solid #333333;}
.footer-nav li a {text-decoration: none; color: #9a9a9a; line-height: 30px; width: 100%; display: block;}
.footer-nav li a:hover {background: rgba(217, 193, 54, 0.56); padding-left:10px; color: #fff;}
.footer-nav li a:before {content: "\f105"; font-family: 'FontAwesome'; padding-right: 10px;}
.formWrp .form-control{height:36px; width:100%; border-radius:0;}
.formWrp .input-Wrap{margin-bottom:8px;}
textarea.form-control{height:80px !important;}
.formWrp .sub{background:#ff0014; font-size:16px; font-weight:bold; color:#fff; padding:10px 28px; border:none;}
.formWrp .sub:hover{background:#fff; color:#000;}
.footer-service {margin-top: 18px; border-top: 1px solid #333;}
.footer-service .col-md-6 {padding: 0;}
.copyright {text-align:center; font-size: 14px;	color: #babdc8;	padding-top: 10px;}

/*********************************************
		Inner Header css
*********************************************/
.inner-heading{background:url(../images/inner-heading-bg.jpg) no-repeat top; background-size:cover; padding:70px 0;}
.inner-heading h3{font-size:40px; color:#fff; text-align:center; text-transform:uppercase; margin:0; font-weight:bold;}

/*********************************************
		Inner Content css
*********************************************/
.inner-content{padding:60px 0;}
.inner-content .welcomeWrap{padding:0; background:none;}
.center-info{background:#f5f5f5; padding:60px 0; margin:40px 0;}
.aboutclient{margin-top:25px;}
.aboutclient .team-info{background:#eee;}

/*********************************************
		Contact css
*********************************************/
.contact-form{max-width:800px; margin:0 auto;}
.contact-form input, .contact-form textarea {color: #8c8c8c; float: left; border: 1px solid #ddd; font-size: 12px; line-height: 32px; margin-bottom: 15px; padding:10px 20px; width:100%;}
/* .contact-form {text-align: center;} */
.contact-now .contact {margin-bottom: 10px; padding: 14px 0; background: #eee; padding-top: 14px;}
.contact-form .button{background:#39314a; color:#fff; font-size:16px; padding:14px 42px; border:none; text-transform:uppercase; font-weight:bold;}
.contact-form .button:hover{background:#c6b552;}
.contact-form h1{text-align:center; margin-bottom:15px; font-size:36px;}
.contact-form h1:before{background:none;}
.contact-form p{margin-bottom:20px;}

/*********************************************
		 Blog css
**********************************************/
.blogList{background:#fff; padding:20px; margin-bottom:30px; border: 1px solid #e4e4e4;}
.blogList ul {
	list-style: initial;
	margin-left: 2%;
}
.blogList img:hover{box-shadow: 0 0 10px rgba(0,0,0,0.1); border-color:#c6b552;}
.postimg{position:relative; display: inline-block;}
.postimg:before{background:#39314a; bottom:0px; content: ""; left:0px; position: absolute; right:0px; top:0px; transform: scale(0); transition: all 300ms ease 0s; opacity: 0.5; z-index: 1;}
.blogList:hover .postimg:before{transform: scale(1);}
.blogList .postimg .date{font-size:24px; position: absolute; left:8px; bottom: 8px; background: #c6b552; padding: 6px 13px;  line-height: 24px; color: #fff; font-weight: bold;    border: 1px solid #fff; z-index:1000;}
.blogList .postimg .date span{display:block; font-size:16px;}
.blogdetail h4{font-size:24px; margin-top:20px;}
.post-header h4 a{font-size:24px; color:#39314a; font-weight:600; text-decoration:none;}
.post-header h4 a:hover{color:#c6b552;}
.postmeta{margin:10px 0 10px 0; font-size:14px;}
.postmeta span, .postmeta a{color:#c6b552;}
.blogList p{font-size:14px; line-height:24px; color:#777;}
.blogList .view-btn{text-align:left; margin-top:10px;}
.blogList .view-btn a{font-size:14px; padding: 10px 22px;}

/*********************************************
		 Side Bar css
**********************************************/
.sidebar{background:#fff; border:1px solid #e4e4e4; padding:20px; margin-bottom:30px;}
.sidebar .widget{margin-bottom:20px; border-bottom:1px solid #eee; padding-bottom:20px;}
.sidebar .widget-title{font-size:18px; font-weight:600; margin-bottom:10px; background: #f00; padding: 12px 16px; color: #fff;}

/*********************************************
		 Sidebar Search css
**********************************************/
.search{position:relative; margin-bottom:15px;}
.search .form-control{border-radius:0; height:auto; padding:10px 12px; border-color:#ddd;}
.search .btn{position: absolute; right: 0; top: 0; border-radius: 0; background: none; font-size: 20px;}

/*********************************************
		 Categories css
**********************************************/ 
.sidebar .categories li{margin-bottom:6px; position:relative; padding-left:16px; border-bottom: 1px solid #eee; padding-bottom: 12px;}
.sidebar .categories li:last-child{border-bottom:none;}
.sidebar .categories li a{margin-top:0; color:#888; font-size:14px; font-weight:600;}
.sidebar .categories li a:hover{color:#c6b552;}
.sidebar .categories li:before {content: "\f0da "; font-family: 'FontAwesome'; position: absolute; left: 0px; color: #000; font-size: 12px; top:3px;}
/*********************************************
		 Archives css
**********************************************/
.archive li{line-height: 45px;}
.archive li a{margin-top:0; color:#888; font-size:14px; font-weight:600;}
.archive li span {float: left; height: 30px; width: 30px; text-align: center; background: #f5f5f5; border:1px solid #fff; outline: 3px solid #f5f5f5; margin-right:20px; line-height: 26px; font-size: 12px; color: #777777; margin-top:10px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.archive li a:hover span {background: #c6b552; color: #fff;}

/*********************************************
		 Popular Posts css
**********************************************/
.papu-post {}
.papu-post .media-left {margin-right: 0px;}
.papu-post .media-left img {width: 100%;}
.papu-post .media-left a {width: 80px; margin-top:0; margin-right:5px; display: inline-block;}
.papu-post span {color: #000; letter-spacing: 0px; font-size: 11px;}
.papu-post li {border-bottom: 1px solid #ececec; padding: 20px 0; margin: 0px;}
.papu-post .media-heading {display: inline-block; width: 100%; color: #777777; margin-top: 0px; font-size: 14px; line-height:20px;}
.papu-post li:last-child{border-bottom:0;}

/*********************************************
		 Tags css
**********************************************/
.tags:after{display:table; clear:both; content:'';}
.tags li {display: inline-block; float: left;}
.tags a {font-size: 13px; color: #969595; border: 1px solid #dadada; padding: 7px 10px; display: inline-block; margin-right: 5px; margin-bottom: 5px; text-transform: uppercase;}
.tags a:hover {border: 1px solid #c6b552; background:#c6b552; color: #fff; text-decoration:none;}
.tagsWrp{margin-bottom:0 !important; padding-bottom:0 !important; border-bottom:none !important;}

/*********************************************
		 Photo Gallery css
**********************************************/
.photo-steam{margin:0 -5px;}
.photo-steam:after{display:table; clear:both; content:'';}
.photo-steam li{float:left; width:25%; padding:0 5px; margin-bottom:10px;}

/*********************************************
		 Blog Grid css
**********************************************/
.blogGrid li{margin-bottom:30px;}
.blog-inter{background:#fff; padding:20px; border: 1px solid #e4e4e4;}
.blogGrid li .postimg{position:relative;}
.blogGrid li .postimg .date{font-size:24px; position: absolute; left:8px; bottom: 8px; background: #c6b552; padding: 6px 13px; line-height: 24px; color: #fff; font-weight: bold; border: 1px solid #fff; z-index:1000;}
.blogGrid li .postimg .date span{display:block; font-size:16px;}
.blogGrid  li .postimg:before{background:rgba(0, 72, 255, 0.95); bottom: 0px; content: ""; left:0px; position: absolute; right:0px; top:0px; transform: scale(0); transition: all 300ms ease 0s; opacity: 0.5; z-index: 1;}
.blogGrid li:hover .postimg:before{transform: scale(1);}
.blogGrid .view-btn {text-align:left; margin-top:15px;}
.blogGrid .view-btn a{color:#fff; padding: 10px 22px; font-size:14px;}


/*********************************************
		 Pagination css
**********************************************/
.pagiWrap .showreslt{font-size:14px; font-weight:600; margin-top:10px;}
.pagiWrap .pagination{margin:0;}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{border-radius:0;}	
.pagination li a:hover, .pagination li.active a{background:#c6b552; border:1px solid #c6b552; color:#fff;}
.pagination>.active>a:hover{background:#4d1ca7; border:1px solid #4d1ca7; color:#fff;}
.pagination>li>a, .pagination>li>span{color:#000;}

/****************************************************
		 Login css
****************************************************/
.login{border:8px solid #fff; box-shadow: 0 0 8px rgba(0, 0, 0, 0.17); padding: 24px; background:#fff;}
.login .form-control{padding: 6px 16px; border-radius:0; height:42px;}
.contctxt{font-size: 24px; font-weight: bold; font-family: 'Roboto Condensed', sans-serif;}
.contctxt span{color:#c6b552;}
.login p{margin-bottom:14px;}
.login .sbutn{padding:12px 0; width:100%; border-radius:0px; background:#c6b552; border:none; margin-top:12px; font-size:16px; text-transform:uppercase; color:#fff; font-weight:bold;}
.login .sbutn:hover{background:#39314a;}
.newuser {margin-top: 30px; text-align: center; color: #666; font-size:18px;}
.newuser a {font-weight: 600; color:#39314a; text-decoration:none;}
.newuser a:hover{color:#c6b552;}
.formint .input-group-addon {display: block; background: none; padding: 6px 0; border: none; text-align: left;}
.formint .input-group-addon span{position:absolute; top:8px; right:0;}
.formint .input-group-addon span a{text-decoration:none; font-size:10px; color:#00aeef;}
.loginWrp{background: #f3f2f2;}
.login .input-wrap{position:relative; margin-top:10px;}
.innerbg{background:#f3f3f3;}
textarea.form-control{height:100px !important;}

/*********************************************
		Testimonials css
*********************************************/
.testimonials-wrap{background:url(../images/testimonial-bg.jpg) no-repeat; padding:50px 0; background-size:cover; margin-top:50px;}
.testimonials-wrap h1{color:#fff;}
.testimonials-wrap .main-heading:before{left:50%; margin-left:-40px; background:#fff;}
.testimonials li{margin:10px; margin-top:20px;}
.testi-info{background:#fff; padding:40px 30px 30px 50px; position:relative; margin-bottom: 50px;}
.testi-info p{position:relative; font-size:14px; line-height:24px; font-style:italic; color:#696969;}
.testi-info p:before{content: "\f10d"; font-family: 'FontAwesome'; position:absolute; top:-5px; left:-29px; color:rgba(255, 0, 0, 0.26); font-size:43px; font-style:normal;}
.name{font-size:18px; color:#000; text-transform:uppercase; font-weight:bold; font-family: 'Roboto Condensed', sans-serif;}
.name span{display:block; text-transform:none; font-family: 'Open Sans', sans-serif; font-size:14px; font-weight:normal;}
.client-image img{border-radius:100%; border:2px solid #fff;}
.client-image{position:absolute; bottom:-50px; right: 40px;}
.test .testi-info{background:#eee; border: 1px solid #e6e6e6;}
.test .client-image img{border: 2px solid #f00;}
.test li{margin:0; margin-top:20px;}

/*********************************************
	 404 page css
**********************************************/
.four-zero-page{text-align:center; padding: 0 0 50px 0;}
.four-zero-page h2 {font-family: 'Open Sans', sans-serif; font-size: 300px; color: #ed1c24; font-weight: 800;}
.four-zero-page h3 {display: inline-block; padding: 12px 36px; border:2px solid #c6b552; color: #c6b552; font-weight: 600; font-size: 30px; letter-spacing: 10px;}
.four-zero-page p{letter-spacing: 2px; padding:0 250px; font-weight: 600; font-size:16px; margin-top:10px; line-height:28px;}
.four-zero-page .view-btn {text-align:center; margin-top:20px;}
.four-zero-page .view-btn a{color:#fff; padding: 10px 22px; font-size:14px; background: #39314a; display:inline-block; font-weight:bold; text-decoration:none;}
.four-zero-page .view-btn a:hover{background:#c6b552;}

/*****************************************
		Faqs css
*****************************************/
.faqs{padding-bottom:0;}
.faqs h1{text-align:left;}
.faqs h1:before{left:0; margin-left:0;}
.faqs-service{list-style:none; margin-top:10px; margin-top:20px;}
.faqs-service li{margin-bottom:10px;}
.faqs-service li h4{font-size:16px; font-weight:600; cursor: pointer; font-family: 'Open Sans', sans-serif; color:#333; position:relative; padding-top:5px; background: #efefef; padding:15px 30px 15px 20px; margin:0;}
.faqs-service li h4:before{content: "\f055"; font-family: 'FontAwesome'; padding:10px 0; color:#c6b552; font-size:24px; display:inline-block; text-align:center; transition:0.3s ease-in; -moz-transition:0.3s ease-in; -webkit-transition:0.3s ease-in; -ms-transition:0.3s ease-in; position:absolute; top:0; right:12px;}
.faqs-service li h4:hover, .faqs-service li h4.active{color:#fff; background:#c6b552;}
.faqs-service li:hover h4:before{color:#fff;}
.faqs-service li h4.active:before{content: "\f056"; color:#fff;}
.faqs-service li p{display:none; height:auto; overflow: hidden; position: relative; padding: 10px 20px 0 20px; background: #f7f7f7; border: 1px solid #eee; padding-bottom:10px;}

/*****************************************
		Case Results css
*****************************************/
.cases{margin-bottom:0 !important; padding-bottom:0 !important; border-bottom:none !important; margin-top:30px;}
.media-body h3{margin:0;}
.media-body h3 a{color:#39314a !important; font-weight:bold; letter-spacing:0.5px; line-height:normal !important;}
.cases li:last-child{padding-bottom:0 !important;}
.featureLinks{margin:15px 0;}
.featureLinks li{font-size:16px; color:#000; margin-top:10px; position:relative; padding-left:25px;}
.featureLinks li:before{content: "\f061"; font-family: 'FontAwesome'; position:absolute; top:0; left:0; color:#c6b552;}
.inner-content .practice-wrap{padding:0;}
.post-header h1{margin-top:30px; font-size:24px;}
.post-header h1:before{left:0; margin-left:0;}
blockquote{border-left: 5px solid #f00 !important; background: #f7f7f7 !important;}
.searchside{border-bottom:none !important; padding-bottom:0 !important;}

/*****************************************
		Attorney css
*****************************************/
.listWrpService {margin-bottom:12px; padding: 15px; background: #fff; border: 1px solid #e0e0e0;}
.listWrpService:hover {box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15); -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15); -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);}
.attorneyWrp h3{margin-top:0;}
.attorneyWrp h3 a{text-decoration:none; color:#39314a; font-weight:bold;}
.attorneyWrp h3 a:hover{color:#f00;}
.featureInfo li{display:inline-block; padding:0px 6px 0 10px; border-left: 1px solid #e0e0e0; font-size: 14px;}
.featureInfo li i{font-size:16px; margin-right:5px; color:#f00;} 
.featureInfo{margin-bottom:10px;}
.featureInfo li:nth-child(1) {padding-left: 0; border-left: none;}
.attorneyWrp .col-md-2{padding-right:0;}
.attorney-btns {}
.attorney-btns li{display:inline-block;}
.attorney-btns li a{background:#39314a; font-size:12px; color:#fff !important; text-transform:uppercase; font-weight:700; display:inline-block; padding:8px 14px;}
.attorney-btns li a:hover{background:#c6b552; text-decoration:none;}
.attorney-btns li:nth-child(2) a{background:#c6b552;}
.attorney-btns li:nth-child(2) a:hover{background:#39314a;}
.attorney-social{border-top:1px solid #cecece; padding:3px 5px 5px 10px; background: #c6b552;}
.attorney-social li{position:relative; display:inline-block; width: 22%;}
.attorney-social li a{color:#fff; font-size:12px;}
.innerhead{margin-top:20px !important; font-weight:bold;}

/*****************************************
		Attorney Details css
*****************************************/
.edu li{box-shadow: 0 0 5px #00000038; padding:12px 25px; margin:20px 0;}
.edu h4{margin-bottom:5px; font-weight:bold; color:#39314a; font-size:22px;}
.edu .date{font-size: 16px; font-weight: 600; color: #f00;}
.progresshead{margin-bottom:5px; font-size: 16px; font-weight: bold; color: #f00;}
.inner-content .attorney-info{background: #ececec;}
.aboutclient{text-align:center;}
.listImg{display:inline-block;}

/*****************************************
		Innerservice css
*****************************************/
.innerservice .serv-area{margin:0;}
.innerservice .service-block:hover{transform:none;}

/*page*/
.scrollToTop{display:none;}
.page-scroll{position:fixed; bottom:20px; right:20px; z-index:1000;}
.page-scroll a{font-size:20px; color:#fff; background:#c6b552; width:50px; height:50px; text-align:center; line-height:50px; display:inline-block; border:1px solid #fff;}

/*MY style*/
.navbar-header{
	background-color: #f7f7f7;
}

.navbar-collapse{
	background-color: #f7f7f7;
}

.clear-style-link{
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.clear-style-link:hover{
	color: inherit; /* blue colors for links too */
	text-decoration: underline; /* underline */
}

.clear-style-link:visited{
	color: inherit; /* blue colors for links too */
	text-decoration: underline; /* underline */
}

.clear-style-link:active {
	color: inherit; /* blue colors for links too */
	text-decoration: underline; /* underline */
}

.article-small-image {
	width: 84px!important;
	height: 84px!important;
	object-fit: cover!important;
}

.youtube-video iframe {
	width: 100%;
	height: 620px;
}
/*****************************************
		Share buttons css
*****************************************/
.social-share-wrapper {
	box-sizing: border-box;
	width: 100%;
	padding-top: 30px;
	display: block;
}
.social-share-block {
	float: left;
	width: 150px;
	height: 50px;
	padding: 3px;
	margin: 1% .8%;
	border-radius: 3px;
	overflow: hidden;
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-ms-filter: brightness(100%);
	-o-filter: brightness(100%);
	filter: brightness(100%);
	transition: all .45s ease-in-out;
}
.social-share-block:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	-ms-filter: brightness(120%);
	-o-filter: brightness(120%);
	filter: brightness(120%);
}
.social-share-block:hover img {
	left: 37%;
	transform: scale(1);
}
.social-share-block:hover span.share-text {
	opacity: 0;
	transform: rotateX(90deg) scale(0.3);
}
.social-share-block a {
	text-decoration: none;
}
.social-share-icon-block{
	display: flex;
	align-items: center;
}
.social-share-block img {
	width: 28px;
	transition: all .5s ease;
	position: relative;
	top: 8px;
	left: 10px;
	transform: scale(0.8);
}
.social-share-block .social-share-icon-block span.share-text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	top: 10px;
	left: 15px;
	position: relative;
	transition: all .45s ease-in-out;
}
.social-share-block.facebook {
	background: #527EBF;
}
.social-share-block.twitter {
	background: #25C0E2;
}
.social-share-block.linkedin {
	background: #147BB7;
}
.social-share-block.ok {
	background: #ee8208;
}

/*****************************************
		Facebook comments plugin css
*****************************************/
.wrapper-fb-comments {
	padding-top: 30px;
}

/*****************************************
		Media Screen
*****************************************/
@media screen and (max-width: 1200px) {
.contact-left{padding: 60px 0px 37px 0px;}
.navbar-default .navbar-nav>li>a{padding:29px 14px;}
}

@media screen and (max-width: 990px) {
.logo{margin-top:8px;}
.navbar-default .navbar-nav>li>a{padding:20px 14px;}
.welcomeWrap h1{margin-top:20px;}
.articles-wrap p{padding:0;}
.right-map{position:static; width:100%; margin-top:20px;}
.map iframe{height:300px;}
.contact-left{padding-bottom:0;}
.navbar-default .navbar-nav>li>a{padding: 21px 12px;}
.welcomeWrap img{text-align:center;}
.headingTitle p{padding:0;}
.four-zero-page p{letter-spacing: 1px; padding:0;}
.pagiWrap{margin-bottom:20px;}
.testimonials li{margin-bottom:60px;}
.welImg{text-align:center;}
.innerImg{margin-bottom:20px;}
}

@media screen and (max-width: 767px) {
.site-topbar{text-align:center;}
.topbar-links{text-align:center;}
.logo{text-align:center;}
.navigationwrape{float:none;}
.navbar-default .navbar-nav>li>a{padding: 10px 12px;}
.navbar-collapse.in{overflow:hidden;}
.navbar-nav>li>.dropdown-menu{position:static; width:100%; margin-bottom:10px;}
.four-zero-page h2 {font-size: 236px;}	
.pagiWrap{text-align:center;}
.pagiWrap .pagination{float:none; margin-top:10px;}
.blog-inter{max-width: 412px; margin:0 auto;}
.detailImg{margin-bottom:20px;}
.blogList>li{max-width:412px; margin:0 auto 30px auto;}
.welcome-content-box{text-align:center;}
.welcomeWrap .readmore{text-align:center;}
}

@media screen and (max-width: 480px) {
	h1{font-size:26px;}
	.four-zero-page h2 {font-size: 140px;}
	.four-zero-page h3{font-size:18px;}
	.youtube-video iframe {height: 250px;}
}


.success-message {
	margin: 0 auto;
	width: 200px;
	height: 200px;

}


section {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}



.section-lead {
	max-width: 600px;
	margin: 1rem auto 1.5rem;
}



.services-grid {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.service {
	background: #fff;
	margin: 15px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	-webkit-box-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
	font-size: 3.45rem;
	margin: 1rem 0;
}


.service1 h4,
.service1 .cta {
	color: #39314a;
}

.service1 i {
	color: #c6b552;
}

.service1:hover {
	border: 2px solid #c6b552;
}

.service2 i,
.service2 h4,
.service2 .cta {
	color: #c6b552;
}

.service2:hover {
	border: 2px solid #c6b552;
}

.service3 i,
.service3 h4,
.service3 .cta {
	color: #425fca;
}

.service3:hover {
	border: 2px solid #425fca;
}

.service .cta span {
	font-size: 0.6rem;
}

.service > * {
	flex: 1 1 100%;
}

.service .cta {
	align-self: flex-end;
}

@media all and (max-width:900px) {
	.services-grid {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network div.ico-viber {
	background-color:#8074d6;
}

.social-network div.ico-whatsapp {
	background-color:#25D366;
}
.social-network div.ico-telegram {
	background-color:#0088cc;
}

.social-network div.ico-telephone {
	background-color:#676f74;
}


.social-circle li div {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	
}
.social-circle li div img {
	width: 30px;
    height: 30px;
    margin-top: 10px;
}

.consultation-image-online {
	height: 380px;
	margin-top: 15px;
}

.mobile-service-legends-hr, .service-legends-mobile, .mobile-service-legends-rate, .mobile-service-legends-hours, .mobile-service-legends-sum{
	display: none;
}


@media screen and (max-width: 992px) {
	.consultation-image-online {
		display: none;
	}
	.mobile-service-legends-hr {
		display: block;
	}

	.service-legends {
		display: none;
	}

	.service-legends-mobile {
		display: block;
	}

	.mobile-service-legends-rate {
		display: inline;
	}

	.mobile-service-legends-hours {
		display: block;
		margin-bottom: 20px;
	}

	.mobile-service-legends-sum {
		display: inline;
		margin-top: 20px;

	}
	.checkbox-custom-label {
		margin-bottom: 20px;
	}

	.hour-rate {
		display: inline;
	}

	.total-sum {
		margin-top: 20px;
	}
}

.ta-center {
	text-align: center;
}





.md-radio {
	margin: 16px 0;
}
.md-radio.md-radio-inline {
	display: inline-block;
}
.md-radio input[type="radio"] {
	display: none;
}
.md-radio input[type="radio"]:checked + label:before {
	border-color: #39314a;
	animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
	transform: scale(1);
}
.md-radio label {
	display: inline-block;
	min-height: 20px;
	position: relative;
	padding: 0 30px;
	margin-bottom: 0;
	cursor: pointer;
	vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
	position: absolute;
	content: '';
	border-radius: 50%;
	transition: all 0.3s ease;
	transition-property: transform, border-color;
}
.md-radio label:before {
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	transform: scale(0);
	background: #39314a;
}



.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
 
    background: #39314a;
    color: #fff;
}



/* Form counter */
.qtySelector{
	border: 1px solid #ddd;
	width: 107px;
	height: 35px;
	margin-top: -8px;
}
.qtySelector .fa{
	padding: 10px 5px;
	width: 35px;
	height: 100%;
	float: left;
	cursor: pointer;
}
.qtySelector .fa.clicked{
	font-size: 12px;
	padding: 12px 5px;
}
.qtySelector .fa-minus{
	border-right: 1px solid #ddd;
}
.qtySelector .fa-plus{
	border-left: 1px solid #ddd;
}
.qtySelector .qtyValue{
	border: none;
	padding: 5px;
	width: 35px;
	height: 100%;
	float: left;
	text-align: center
}


.total-sum {
	/*border: thin solid black;*/

	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 0px;
}

.big-list-alpha {
	list-style: upper-alpha;
	font-size: 30px;
}
.big-list-decimal {
	list-style: decimal;
	font-size: 30px;
}

.decimal-list {
	list-style: decimal;
	font-size: 14px;
	margin-left: 40px;
}

.unordered-list {
	list-style: disc;
	font-size: 20px;
	margin-left: 40px;
}

.info-pages strong {
	color: #000;
}

